<mat-card class="card">
	<mat-card-title class="card__title">Confirma o actualiza <span>tu información</span></mat-card-title>
	<mat-card-content class="card__content--form">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="card__subseccion  mt-3 mb-0">Título de subsección</h3>
			</div>
			<div class="col-lg-6">
				<div class="card__field">
					<mat-form-field appearance="outline">
						<mat-label>Celular</mat-label>
						<input matInput placeholder="Ingresa tu número de celular">
					</mat-form-field>
					<i class="material-icons no-icon"></i>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card__field">
					<mat-form-field appearance="outline">
						<mat-label>Número de cuenta</mat-label>
						<input matInput placeholder="Número de cuenta">
					</mat-form-field>
					<i class="material-icons no-icon"></i>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h3 class="card__subseccion  mt-3 mb-0">Título de subsección</h3>
			</div>
			<div class="col-lg-6">
				<div class="card__field">
					<mat-form-field appearance="outline">
						<mat-label>Tipo de cuenta</mat-label>
						<mat-select [(value)]="selected">
							<mat-option>Ninguna</mat-option>
							<mat-option value="option1">Cuenta de ahorros</mat-option>
							<mat-option value="option2">Cuenta corriente</mat-option>
						</mat-select>
					</mat-form-field>
					<i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card__field">
					<mat-form-field appearance="outline">
						<mat-label>Entidad bancaria</mat-label>
						<mat-select [(value)]="selected">
							<mat-option>Ninguna</mat-option>
							<mat-option value="option1">Bancolombia</mat-option>
							<mat-option value="option2">Banco de Bogotá</mat-option>
							<mat-option value="option2">Banco Colpatria</mat-option>
						</mat-select>
					</mat-form-field>
					<i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="card__field">
					<mat-form-field appearance="outline">
						<mat-label>Total de ingresos mensuales</mat-label>
						<input matInput placeholder="Total de ingresos mensuales">
					</mat-form-field>
					<i class="material-icons no-icon"></i>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card__field">
					<mat-form-field appearance="outline">
						<mat-label>total de ingresos mensuales</mat-label>
						<input matInput placeholder="Total de ingresos mensuales">
					</mat-form-field>
					<i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i>
				</div>
			</div>
		</div>
	</mat-card-content>

	<mat-card-footer class="card__footer  justify-content-center  justify-content-md-end">
		<button mat-stroked-button>Anterior</button>
		<button mat-flat-button color="primary">CONTINUAR</button>
	</mat-card-footer>

</mat-card>
