<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-0">
			<div class="w-100 flex-wrap   d-flex  justify-content-center justify-content-lg-between">
				<h2 class="d-flex  align-items-center justify-content-center  justify-content-lg-start  o-heading-card mb-2 mb-lg-0  card__titulo">
					Historial de créditos y solicitudes
				</h2>
				<div>
					<button mat-flat-button color="primary" class="pl-3 pr-3 mr-2"><i class="material-icons mr-1">cloud_download</i> Descargar historial completo</button>
				</div>
			</div>
		</mat-card-header>
	</div>

	<mat-card-content class="mb-0">
		<div class="g-row">
			<div class="w-100">
				<div class="c-table-3">
					<div class="c-table-3__row  flex-nowrap">
						<div class="c-table-3__col-movil flex-fill">
							<div class="c-table-3__data"><strong>Crédito</strong></div>
							<div class="c-table-3__data">
								<span  class="d-flex"><i class="material-icons mr-1  d-inline-block d-md-none">remove_circle</i>
									<span class="c-table-3__text-1">RapiPlazo <br><strong class="d-block">123897</strong></span></span>

								<div class="c-table-3__data-movil  d-md-none">
									<div class="row">
										<div class="col"><strong>Fecha de pago</strong></div>
										<div class="col">13 Feb. 2020</div>
									</div>
									<div class="row">
										<div class="col"><strong>Estado</strong></div>
										<div class="col">Activo</div>
									</div>
									<div class="row">
										<div class="col">
											<button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Certificado de deuda</button>
										</div>

									</div>
								</div>
							</div>
							<div class="c-table-3__data">
								<span  class="d-flex"><i class="material-icons mr-1  d-inline-block d-md-none">remove_circle</i>
									<span class="c-table-3__text-1">RapiPlazo <br><strong class="d-block">243465</strong></span></span>
							</div>
							<div class="c-table-3__data">
								<span  class="d-flex"><i class="material-icons mr-1  d-inline-block d-md-none">remove_circle</i>
									<span class="c-table-3__text-1">RapiPlazo <br><strong class="d-block">874564</strong></span></span>
							</div>
							<div class="c-table-3__data">
								<span  class="d-flex"><i class="material-icons mr-1  d-inline-block d-md-none">remove_circle</i>
									<span class="c-table-3__text-1">RapiPlazo <br><strong class="d-block">982467</strong></span></span>
							</div>
						</div>
						<div class="c-table-3__col-movil flex-fill">
							<div class="c-table-3__data"><strong>Fecha desembolsado</strong></div>
							<div class="c-table-3__data  justify-content-start  align-items-md-center" style="height: 168px;">12 Ene. 2020</div>
							<div class="c-table-3__data">23 Mar. 2020</div>
							<div class="c-table-3__data">N/A</div>
							<div class="c-table-3__data">15 Oct. 2019</div>
						</div>
						<div class="d-none d-md-block flex-fill">
							<div class="c-table-3__data"><strong>Fecha de pago</strong></div>
							<div class="c-table-3__data">13 Feb. 2020</div>
							<div class="c-table-3__data">24 Abr. 2020</div>
							<div class="c-table-3__data">N/A</div>
							<div class="c-table-3__data">16 Dic. 2019</div>
						</div>
						<div class="d-none d-md-block flex-fill">
							<div class="c-table-3__data"><strong>Estado</strong></div>
							<div class="c-table-3__data">Activo</div>
							<div class="c-table-3__data">Activo</div>
							<div class="c-table-3__data">Rechazado</div>
							<div class="c-table-3__data">Pagado</div>
						</div>
						<div class="d-none d-md-block flex-fill">
							<div class="c-table-3__data"><strong>Certificaciones</strong></div>
							<div class="c-table-3__data">
								<button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Certificado de deuda</button>
							</div>
							<div class="c-table-3__data">
								<button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Certificado de deuda</button>
							</div>
							<div class="c-table-3__data">
								N/A
							</div>
							<div class="c-table-3__data">
								<button mat-stroked-button color="primary" class="pl-3 pr-3 mr-2"><i class="material-icons  mr-2">cloud_download</i> Factura</button>
								<button mat-flat-button color="primary" class="pl-3 pr-3 mr-2"><i class="material-icons mr-1">cloud_download</i> Paz y salvo</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-card-content>
</mat-card>
