<div class="row">
	<h2 class="col-12  o-heading-section  text-center  mb-4 mb-md-5">Nuestros aliados</h2>
</div>

<div class="row  justify-content-center  c-aliados">
	<div class="col-6  col-sm-4 col-lg-2">
		<img class="img-fluid" src="assets/logo.jpg" alt="Logo 1">
	</div>
	<div class="col-6  col-sm-4 col-lg-2">
		<img class="img-fluid" src="assets/logo.jpg" alt="Logo 1">
	</div>
	<div class="col-6  col-sm-4 col-lg-2">
		<img class="img-fluid" src="assets/logo.jpg" alt="Logo 1">
	</div>
	<div class="col-6  col-sm-4 col-lg-2">
		<img class="img-fluid" src="assets/logo.jpg" alt="Logo 1">
	</div>
	<div class="col-6  col-sm-4 col-lg-2">
		<img class="img-fluid" src="assets/logo.jpg" alt="Logo 1">
	</div>
</div>
