/* ^.c-aliados
-----------------------------------------------------------------------------*/

@media screen and (max-width: 991px) {
	.c-aliados > * {
		margin-bottom: 30px;
	}
}

/* ^Fin - .c-aliados
-----------------------------------------------------------------------------*/
