/* ^.mat-flat-button
-----------------------------------------------------------------------------*/

.btn-call-to-action {
	height: 50px;
	padding: 0 20px;
}

/* ^Fin - .mat-flat-button
-----------------------------------------------------------------------------*/
