<div class="row  justify-content-center">
	<h2 class="col-12  o-heading-section  text-center  mb-3">Mensaje invitando a solicitar crédito</h2>
	<button mat-flat-button color="primary" class="btn-call-to-action">¡SOLICITA TU CRÉDITO YA!</button>
</div>
