/* ^mat-card
-----------------------------------------------------------------------------*/

.mat-card {
	color: #667081;
	font-size: 0.875rem;
}

/* ^Fin - mat-card
-----------------------------------------------------------------------------*/





/* ^.c-como-funciona
-----------------------------------------------------------------------------*/

.c-como-funciona .mat-card {
	position: relative;
	padding-top: 48px;
}

.c-como-funciona > * {
	position: relative;
}

.c-como-funciona > :nth-child(1) {
	z-index: 5;
}

.c-como-funciona > :nth-child(2) {
	z-index: 4;
}

.c-como-funciona > :nth-child(3) {
	z-index: 3;
}

.c-como-funciona > :nth-child(4) {
	z-index: 2;
}

.c-como-funciona > :nth-child(5) {
	z-index: 1;
}

.c-como-funciona__number {
	position: absolute;
	top: -29px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	border-radius: 8px;
	background: #F4F4F4;
	font-weight: bold;
	font-size: 1.2rem;
}

.c-como-funciona__number span {
	transform: rotate(-45deg);
}

@media screen and (max-width: 991px) {
	.c-como-funciona > * {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 769px) and (max-width: 991px) {
	.c-como-funciona > :nth-last-child(1),
	.c-como-funciona > :nth-last-child(2) {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	.c-como-funciona > :last-child {
		margin-bottom: 0;
	}
}

/* ^Fin - .c-como-funciona
-----------------------------------------------------------------------------*/
