<div class="row">
	<h2 class="col-12  o-heading-section  text-center  mb-4 mb-md-5">¿Cómo funciona?</h2>
</div>

<div class="row  c-como-funciona">
	<div class="col-md-6  col-lg-3">
		<mat-card>
			<div class="c-como-funciona__number"><span>1</span></div>
			<p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original.</p>
		</mat-card>
	</div>
	<div class="col-md-6  col-lg-3">
		<mat-card>
			<div class="c-como-funciona__number"><span>2</span></div>
			<p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original.</p>
		</mat-card>
	</div>
	<div class="col-md-6  col-lg-3">
		<mat-card>
			<div class="c-como-funciona__number"><span>3</span></div>
			<p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original.</p>
		</mat-card>
	</div>
	<div class="col-md-6  col-lg-3">
		<mat-card>
			<div class="c-como-funciona__number"><span>4</span></div>
			<p>El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original.</p>
		</mat-card>
	</div>
</div>
