/* ^.c-call-to-action
-----------------------------------------------------------------------------*/

.c-call-to-action {
	display: none;
	position: fixed;
	z-index: 20;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 15px;
	box-shadow: 0 -2px 6px rgba(146, 151, 154, .19);
	background: #fff
}

.c-call-to-action .btn-call-to-action {
	height: 50px;
	width: 100%;
}

@media screen and (max-width: 480px) {
	.c-call-to-action {
		display: block;
	}
}

/* ^Fin - .c-call-to-action
-----------------------------------------------------------------------------*/
