<div class="row  c-footer">
	<div class="col-sm-6  col-md-auto    c-footer__col">
		<div class="c-footer__section">Nombre sección 1</div>
		<ul class="c-footer__menu">
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Preguntas frecuentes</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Blog</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>¿Cómo funciona?</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Términos y condiciones</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Prestamos a cuotas</a></li>
		</ul>
	</div>
	<div class="col-sm-6  col-md-auto  c-footer__col">
		<div class="c-footer__section">Nombre sección 2</div>
		<ul class="c-footer__menu">
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Lorem ipsum dolor</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Lorem ipsum</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Texto de relleno</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Variaciones de Lorem</a></li>
		</ul>
	</div>
	<div class="col-sm-6  col-md-auto  c-footer__col">
		<div class="c-footer__section">Nombre sección 3</div>
		<ul class="c-footer__menu">
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Lorem ipsum dolor</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Lorem ipsum</a></li>
			<li><a href="#"><i class="material-icons">arrow_forward_ios</i>Texto de relleno</a></li>
		</ul>
	</div>
	<div class="col-sm-6  col-md-auto  c-footer__col  c-footer__col--social">
		<div class="c-footer__section">Síguenos en</div>
		<ul class="c-footer__menu--social">
			<li><a href="#"><i class="fab fa-facebook-square"></i>/RapiCreditSAS</a></li>
			<li><a href="#"><i class="fab fa-instagram"></i>@rapicredit_sas</a></li>
			<li><a href="#"><i class="fab fa-twitter"></i>@Rapicredit</a></li>
		</ul>
	</div>
</div>
