<div class="row  justify-content-center  c-footer-logos">
	<div class="col-auto">
		<img class="img-fluid" src="assets/logo-industria-y-comercio.png" alt="Logo Industria y Comercio">
	</div>
	<div class="col-auto">
		<img class="img-fluid" src="assets/logo-colombia-fintech.png" alt="Logo Colombia Fintech">
	</div>
</div>
