/* ^.c-footer
-----------------------------------------------------------------------------*/

.c-footer__col {
	max-width: 270px;
	margin-bottom: 20px;
}

.c-footer__section {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1rem;
}

.c-footer__menu {

}

.c-footer__menu li,
.c-footer__menu--social li {
	margin-bottom: 10px;
}

.c-footer__menu li:last-child,
.c-footer__menu--social li:last-child  {
	margin-bottom: 0;
}

.c-footer__menu li a,
.c-footer__menu--social li a {
	display: flex;
	font-size: 13px;
	color: #667081;
}

.c-footer__menu li a:hover,
.c-footer__menu--social li a:hover {
	text-decoration: none;
	color: #49505b;
}

.c-footer__menu li i,
.c-footer__menu--social li i {
	margin-right: 7px;
	margin-top: 2px;
	font-size: 14px;
}

.c-footer__menu--social li i {
	font-size: 18px;
}

@media screen and (min-width: 576px) {
	.c-footer__col--social {
		padding-right: 15px;
		margin-left: auto;
	}
}

@media screen and (min-width: 769px) {
	.c-footer__col {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 992px) {
	.c-footer__col {
		max-width: 270px;
		padding-right: 60px;
	}
}

/* ^Fin - .c-footer
-----------------------------------------------------------------------------*/
