/* ^c-header-top-bar
-----------------------------------------------------------------------------*/

.c-header-top-bar {
	position: fixed;
	z-index: 50;
	width: 100%;
	box-shadow: 0 2px 6px rgba(146, 151, 154, .19);
	background: #fff;
}

.c-header-top-bar__content {
	height: 60px;
	padding: 10px 15px;
}

.c-header-top-bar__menu {
	display: flex;
	flex-wrap: wrap;
}

.c-header-top-bar__logo img {
	display: block
}

.c-header-top-bar__btn {
	padding: 0 20px;
	height: 40px;
}

.c-header-top-bar__logo-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.c-header-top-bar__btn-menu-movil {
	padding: 0;
	margin-left: 15px;
}

.c-header-top-bar__btn-menu-movil span {
	padding-left: 3px;
	font-size: 0.9375rem;
}

@media screen and (min-width: 769px) {
	.c-header-top-bar__btn-menu-movil {
		display: none;
	}
}

/* ^Fin - c-header-top-bar
-----------------------------------------------------------------------------*/





/* ^.c-menu-top-bar
-----------------------------------------------------------------------------*/

.c-menu-top-bar {
	display: none;
	margin-right: 20px;
}

.c-menu-top-bar li {

}

.c-menu-top-bar li a {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 20px;
	border-radius: 5px;
	background: #fff;
	font-size: 0.9375rem;
	color: #667081;
}

.c-menu-top-bar li a:hover {
	background: rgba(102,112,129, .10);
	text-decoration: none;
}

@media screen and (min-width: 769px) {
	.c-menu-top-bar {
		display: flex;
	}
}

/* ^Fin - .c-menu-top-bar
-----------------------------------------------------------------------------*/
