<header class="container-fluid  c-header-top-bar">
	<div class="row  justify-content-between  align-items-center  c-header-top-bar__content">
		<div class="c-header-top-bar__logo-menu">
			<picture class="c-header-top-bar__logo">
				<source srcset="assets/logo-rapicredit.png" media="(min-width: 769px)">
				<img src="assets/logo-rapicredit-movil.png" alt="Logo RapiCredit">
			</picture>
			<button mat-button  class="c-header-top-bar__btn-menu-movil">
				<mat-icon>menu</mat-icon>
				<span>Menú</span>
			</button>
		</div>
		<div class="align-items-center  c-header-top-bar__menu">
			<ul class="c-menu-top-bar">
				<li><a href="#">Preguntas frecuentes</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<button mat-stroked-button  class="c-header-top-bar__btn">Ingresa a tu cuenta</button>
		</div>
	</div>
</header>
