/* ^.c-jumbotron
-----------------------------------------------------------------------------*/

.c-jumbotron {
	padding: 0 15px;
}

.c-jumbotron__heading-1 {
	display: inline-block;
	margin-bottom: 5px;
	padding: 7px 15px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 1.125rem;
	font-weight: bold;
}

.c-jumbotron__heading-2 {
	margin-bottom: 10px;
	font-size: 1.5625rem;
}

.c-jumbotron__list {
	padding-left: 10px;
}

.c-jumbotron__list li {
	display: flex;
	margin-bottom: 7px;
	font-size: 0.9375rem;
}

.c-jumbotron__list i {
	margin-right: 10px;
	font-size: 22px;
}

@media screen and (min-width: 769px) {
	.c-jumbotron {
		padding: 0 30px;
	}

	.c-jumbotron__heading-2 {
		font-size: 2rem;
	}
}

/* ^Fin - .c-jumbotron
-----------------------------------------------------------------------------*/
