<div class="c-jumbotron">
	<div class="c-jumbotron__heading-1">!Bienvenido a RapiPlazo!</div>
	<h1 class="c-jumbotron__heading-2">Lorem Ipsum es un texto de relleno</h1>
	<p class="c-jumbotron__p">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
	<ul class="c-jumbotron__list">
		<li><i class="material-icons">done</i> Lorem Ipsum es simplemente el texto.</li>
		<li><i class="material-icons">done</i> Lorem Ipsum es simplemente el texto de relleno de las imprentas.</li>
		<li><i class="material-icons">done</i> Lorem Ipsum es simplemente el texto de relleno.</li>
	</ul>
</div>
