/* ^.c-banner-hero
-----------------------------------------------------------------------------*/

.c-section {
	background: rgba(102,112,129, .12);
}

@media screen and (max-width: 576px) {
	/* .c-banner-hero > .container {
		padding: 0;
	} */
}



/* ^Fin - .c-banner-hero
-----------------------------------------------------------------------------*/
