<app-header></app-header>

<div class="container-wrap">

	<div class="c-section  pt-4  pb-4">
		<div class="container">
			<div class="row  justify-content-center  align-items-center">
				<div class="col-md-7  col-lg-5  col-xl-4  order-lg-2  mb-4  mb-lg-0">
					<app-simulador></app-simulador>
				</div>
				<div class="col-lg-7  col-xl-8  order-lg-1">
					<app-jumbotron></app-jumbotron>
				</div>
			</div>
		</div>
	</div>


	<div class="container  pt-4 pt-md-5  pb-4 pb-md-5">
		<app-como-funciona></app-como-funciona>
	</div>


	<div class="c-section  pt-4 pt-md-5  pb-4 pb-md-5">
		<div class="container">
			<app-call-to-action></app-call-to-action>
		</div>
	</div>


	<div class="container  pt-4 pt-md-5  pb-2 pb-md-3 pb-lg-5">
		<app-aliados></app-aliados>
	</div>


	<div class="c-section  pt-4 pt-md-5  pb-4 pb-md-5">
		<div class="container">
			<app-footer></app-footer>
		</div>
	</div>


	<div class="container  pt-4 pt-md-5  pb-2 pb-md-3 pb-lg-5">
		<app-footer-logos></app-footer-logos>
	</div>

</div>


<!-- Llama a la acción flotante, solo en móviles -->
<app-fixed-call-to-action></app-fixed-call-to-action>
