mat-slider {
	width: 100%;
	padding: 0;
}

/* ^.c-simulator
-----------------------------------------------------------------------------*/

.c-simulator {
	padding: 12px;
	background: rgba(102,112,129, .12);
	color: #667081;
}

.c-simulator .material-icons {
	font-size: 15px;
}

.c-simulator__header {
	padding: 20px 20px 10px 20px;
	text-align: center;
	font-size: 1rem;
}

.c-simulator__heading {
	margin-bottom: 0;
	font-size: 1.6875rem;
	font-weight: normal;
}

.c-simulator__heading span {
	font-weight: 600;
}

.c-simulator__description {
	font-size: 0.9375rem;
}

.c-simulator__content {
	padding: 12px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0, .16);
	background: #fff;
}

.c-simulator__calculator {
	margin-bottom: 15px;
	padding: 8px 12px 12px 12px;
	border-radius: 5px;
	background: rgba(102,112,129, .12);
	text-align: center;
	font-weight: 500;
	font-size: 0.875rem;
}

.c-simulator__calculator-price {
	font-size: 1.375rem;
}

.c-simulator__slide-item {
	margin-bottom: 20px;
}

.c-simulator__slide-item:nth-child(2) {
	margin-bottom: 15px;
}

.c-simulator__slide-title {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 1rem;
}

.c-simulator__slide-data {
	display: flex;
	justify-content: space-between;
}

.c-simulator__data {
	font-size: 0.75rem;
}

.c-simulator__slide-data-response {
	margin-top: -14px;
	text-align: center;
	font-size: 1.375rem;
	font-weight: bold;
}

.c-simulator__slider {
	margin-top: -17px;
}

.c-simulator__btns > * {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.c-simulator__btns > *:last-child {
	margin-bottom: 0;
}

.c-simulator__footer {
	padding: 20px 16px 13px 16px;
}

.c-simulator__footer-title {
	margin-bottom: 15px;
	text-align: center;
	font-size: 0.9375rem;
	font-weight: 500;
}

.c-simulator__footer-detail {
	margin-bottom: 5px;
	font-size: 0.75rem;
}

.c-simulator__item-detail {
	display: flex;
	justify-content: space-between;
}

/* ^Fin - .c-simulator
-----------------------------------------------------------------------------*/
