<div class="c-simulator">
	<div class="c-simulator__header">
		<h2 class="c-simulator__heading">Calcula tu <span>RapiPlazo</span></h2>
		<p class="c-simulator__description">Simula tu plan de pagos <br>y conoce los costos asociados</p>
	</div>

	<div class="c-simulator__content">
		<div class="c-simulator__slide-item">
			<div class="c-simulator__slide-title">Elije el monto</div>
			<div class="c-simulator__slide-data">
				<div class="c-simulator__data">$750.000</div>
				<div class="c-simulator__data">$2.000.000</div>
			</div>
			<div class="c-simulator__slider">
				<mat-slider min="1" max="8" step="0.5" value="4"></mat-slider>
			</div>
			<div class="c-simulator__slide-data-response">$1.000.000</div>
		</div>
		<div class="c-simulator__slide-item">
			<div class="c-simulator__slide-title">Elije las cuotas</div>
			<div class="c-simulator__slide-data">
				<div class="c-simulator__data">3 meses</div>
				<div class="c-simulator__data">12 meses</div>
			</div>
			<div class="c-simulator__slider">
				<mat-slider min="1" max="8" step="0.5" value="3"></mat-slider>
			</div>
			<div class="c-simulator__slide-data-response">4 meses</div>
		</div>

		<div class="c-simulator__calculator">
			<div class="c-simulator__calculator-data">Cuota fija mensual: <strong class="c-simulator__calculator-price">$339.604</strong></div>
			<div class="c-simulator__calculator-data">Fecha de pago: 2 Nov 2019 <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
		</div>

		<div class="c-simulator__btns">
			<button mat-stroked-button disabled>CALCULAR</button>
			<button mat-raised-button color="primary">¡SOLICÍTALO YA!</button>
		</div>
	</div>

	<div class="c-simulator__footer">
		<div class="c-simulator__footer-title">Descripción de la cuota</div>
		<div class="c-simulator__footer-detail">
			<div class="c-simulator__item-detail">
				<span>Abono a capital:</span>
				<span>$243.059 <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></span>
			</div>
			<div class="c-simulator__item-detail">
				<span>Intereses:</span>
				<span>$18.800 <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></span>
			</div>
			<div class="c-simulator__item-detail">
				<span>Aval (opcional):</span>
				<span>$47.700 <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></span>
			</div>
			<div class="c-simulator__item-detail">
				<span>Plataforma (opcional):</span>
				<span>$25.500 <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></span>
			</div>
			<div class="c-simulator__item-detail">
				<span>IVA:</span>
				<span>$4.845 <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></span>
			</div>
		</div>
	</div>
</div>
