<div class="progreso  mb-4">
	<div class="mb-3">
		<mat-progress-bar mode="determinate" value="36"></mat-progress-bar>
	</div>

	<div class="justify-content-center justify-content-md-between  progreso__heading">
		<div class="text-center d-none d-md-block">Simulador <span class="d-md-block">de crédito</span></div>
		<div class="text-center">Confirma o actualiza <span class="d-md-block">tu información</span></div>
		<div class="text-center d-none d-md-block">Aceptación <span class="d-md-block">del crédito</span></div>
		<div class="text-center d-none d-md-block">Desembolso</div>
	</div>
</div>
