<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-2">
			<div class="w-100  d-flex  justify-content-center justify-content-md-between">
				<h2 class="d-none d-md-flex  align-items-center  o-heading-card mb-0">
					ID RapiPlazo <strong>&nbsp;#345678</strong>
				</h2>
				<div>
					<button mat-flat-button color="primary" class="pl-3 pr-3 mr-2"><i class="material-icons mr-1">payment</i> PAGAR</button>
					<button mat-button [matMenuTriggerFor]="menu" mat-stroked-button color="primary" class="pl-3 pr-2">Opciones <i class="material-icons">keyboard_arrow_down</i></button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item><mat-icon>check_circle</mat-icon><span>Comprobantes de pago</span></button>
						<button mat-menu-item><mat-icon>cloud_upload</mat-icon><span>Subir comprobantes de pago</span></button>
						<button mat-menu-item><mat-icon>insert_drive_file</mat-icon><span>Descargar contrato firmado</span></button>
						<button mat-menu-item><mat-icon>verified_user</mat-icon><span>Descargar vertificado de deuda</span></button>
					</mat-menu>
				</div>
			</div>

		</mat-card-header>

		<mat-card-content class="mb-0">
			<div class="c-table-2  p-lg-3">
				<div class="row">
					<div class="col-lg d-flex  d-md-none">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#345678</strong>
							</div>
						</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Estado</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">Desembolsado</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Fecha desembolso</div>
						<div class="c-table-2__content">10 Oct. 2019</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Monto desembolsado</div>
						<div class="c-table-2__content">$500.000</div>
					</div>
					<div class="col-lg-auto  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Plazo</div>
						<div class="c-table-2__content">4 meses</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Cuotas pagadas</div>
						<div class="c-table-2__content">1</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Cuotas pendientes</div>
						<div class="c-table-2__content">3</div>
					</div>
					<div class="col-lg-auto  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Tasa E.A</div>
						<div class="c-table-2__content">25%</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</div>
</mat-card>


<mat-tab-group [selectedIndex]="1" mat-stretch-tabs class="c-tab mat-elevation-z2">
	<mat-tab label="Estado actual">
		<div class="p-3">
			<div class="w-100  d-flex  justify-content-center justify-content-md-between mb-3">
				<h2 class="d-none d-md-flex  align-items-center  o-heading-card mb-0">
					ID RapiPlazo <strong>&nbsp;#345678</strong>
				</h2>
			</div>
			<div class="c-table-2  p-lg-3">
				<div class="row">
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Saldo total al día</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$450.000</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Valor cuota siguiente</div>
						<div class="c-table-2__content">$0</div>
					</div>
					<div class="col-lg-4  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Fecha límite de pago cuota siguiente</div>
						<div class="c-table-2__content">10 Nov. 2019</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Saldo en mora</div>
						<div class="c-table-2__content">$0</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Días en mora</div>
						<div class="c-table-2__content">0</div>
					</div>
				</div>
			</div>
		</div>
	</mat-tab>

	<mat-tab label="Historial de movimientos">
		<div class="pt-3 pl-3 pr-3">
			<div class="w-100  d-flex  justify-content-center justify-content-md-between mb-3">
				<h2 class="d-none d-md-flex  align-items-center  o-heading-card mb-0">
					Aplicación de los pagos recibidos
				</h2>
			</div>
		</div>

		<div class="g-row">
			<div class="g-col-lg-10">
				<div class="c-table-3  scroll-table">
					<div class="c-table-3__row"  style="width: 1270px;">
						<div class="c-table-3__col-movil">
							<div class="c-table-3__data"><strong>Fecha</strong></div>
							<div class="c-table-3__data">
								<span  class="d-flex"><i class="material-icons mr-1  d-inline-block d-md-none">remove_circle</i>
									10 Oct. 2019</span>

								<div class="c-table-3__data-movil  d-md-none">
									<div class="row">
										<div class="col"><strong>Medio de pago</strong></div>
										<div class="col">PSE</div>
									</div>
									<div class="row">
										<div class="col"><strong>Capital</strong></div>
										<div class="col">$60.000</div>
									</div>
									<div class="row">
										<div class="col"><strong>Interés corriente</strong></div>
										<div class="col">$20.000</div>
									</div>
									<div class="row">
										<div class="col"><strong>Plataforma</strong></div>
										<div class="col">$20.000</div>
									</div>
									<div class="row">
										<div class="col"><strong>Aval</strong></div>
										<div class="col">$40.000</div>
									</div>
									<div class="row">
										<div class="col"><strong>IVA</strong></div>
										<div class="col">$10.000</div>
									</div>
									<div class="row">
										<div class="col"><strong>Interés mora</strong></div>
										<div class="col">$0</div>
									</div>
									<div class="row">
										<div class="col"><strong>Gastos cobranza</strong></div>
										<div class="col">$0</div>
									</div>
									<div class="row">
										<div class="col"><button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Factura</button></div>
										<div class="col"></div>
									</div>
								</div>
							</div>
							<div class="c-table-3__data">
								<span class="d-flex"><i class="material-icons mr-1  d-inline-block d-md-none">add_circle</i>
									15 Oct. 2019</span>
							</div>
							<div class="c-table-3__data">20 Oct. 2019</div>
						</div>
						<div class="c-table-3__col-movil">
							<div class="c-table-3__data"><strong>Monto pagado</strong></div>
							<div class="c-table-3__data  justify-content-start  align-items-md-center" style="height: 328px;">$150.000</div>
							<div class="c-table-3__data">$80.000</div>
							<div class="c-table-3__data">$200.000</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Medio de pago</strong></div>
							<div class="c-table-3__data">PSE</div>
							<div class="c-table-3__data">PSE</div>
							<div class="c-table-3__data">PSE</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Capital</strong></div>
							<div class="c-table-3__data">$60.000</div>
							<div class="c-table-3__data">$60.000</div>
							<div class="c-table-3__data">$60.000</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Interés corriente</strong></div>
							<div class="c-table-3__data">$20.000</div>
							<div class="c-table-3__data">$20.000</div>
							<div class="c-table-3__data">$20.000</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Plataforma</strong></div>
							<div class="c-table-3__data">$20.000</div>
							<div class="c-table-3__data">$20.000</div>
							<div class="c-table-3__data">$20.000</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Aval</strong></div>
							<div class="c-table-3__data">$40.000</div>
							<div class="c-table-3__data">$40.000</div>
							<div class="c-table-3__data">$40.000</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>IVA</strong></div>
							<div class="c-table-3__data">$10.000</div>
							<div class="c-table-3__data">$10.000</div>
							<div class="c-table-3__data">$10.000</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Interés mora</strong></div>
							<div class="c-table-3__data">$0</div>
							<div class="c-table-3__data">$0</div>
							<div class="c-table-3__data">$0</div>
						</div>
						<div class="d-none d-md-block">
							<div class="c-table-3__data"><strong>Gastos cobranza</strong></div>
							<div class="c-table-3__data">$0</div>
							<div class="c-table-3__data">$0</div>
							<div class="c-table-3__data">$0</div>
						</div>
					</div>
				</div>
			</div>
			<div class="g-col-lg-2">
				<div>
					<div class="d-none d-md-block">
						<div class="c-table-3__data"><strong>Documentos</strong></div>
						<div class="c-table-3__data">
							<button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Factura</button>
						</div>
						<div class="c-table-3__data">
							<button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Factura</button>
						</div>
						<div class="c-table-3__data">
							<button mat-stroked-button color="primary" class="pl-3 pr-3"><i class="material-icons  mr-2">cloud_download</i> Factura</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>
