<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center  mb-4  mb-l-5">
		<div class="col text-center">
			<h1 class="o-heading-section  mb-0">Detalle de tu crédito</h1>
		</div>
	</div>
	<div class="row  justify-content-center">
		<div class="col">
			<app-detalle-credito-desembolsado></app-detalle-credito-desembolsado>
		</div>
	</div>
</div>
