/* ^.c-popup
-----------------------------------------------------------------------------*/

.contenedor-popup {
	max-width: 330px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
}

.c-popup__header {
	padding: 30px 50px;
	background: rgba(102,112,129, .10);
	text-align: center;
}

.c-popup__heading {
	margin-bottom: 20px;
}

.c-popup__header-p {
	font-size: 15px;
}

.c-popup__footer {
	padding: 25px;
	text-align: center;
}

.c-popup__btn-1 {
	padding: 0 30px;
}

/* ^Fin - .c-popup
-----------------------------------------------------------------------------*/
