<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup">
		<div class="c-popup">
			<div class="c-popup__header">
				<h3 class="c-popup__heading">Error</h3>
				<p class="c-popup__header-p">En este momento no eres cliente de RapiCredit, realiza un nuevo registro con nosotros</p>
			</div>
			<div class="c-popup__footer">
				<button mat-flat-button color="primary" class="c-popup__btn-1">Aceptar</button>
			</div>
		</div>
	</div>
</div>
