<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center">
		<div class="col-md-8 col-xl-4  mb-4  mb-xl-0">
			<app-pago-referencia></app-pago-referencia>
		</div>
		<div class="col-md-8">
			<app-medios-pago></app-medios-pago>
		</div>
	</div>
</div>
