<div class="row  mb-3">
	<div class="col-lg-6">
		<mat-card class="p-0  card">
			<mat-card-header  class="card__header  text-center">
				<div class="w-100">
					<h2 class="p-3 mb-0">Cuenta de ahorros (PSE)</h2>
				</div>
			</mat-card-header>
			<mat-card-content class="card__content  p-2 text-center">
				<img src="./assets/pse.png" alt="PSE">
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-lg-6  mb-3 mb-lg-0">
		<mat-card class="p-0  card">
			<mat-card-header  class="card__header  text-center">
				<div class="w-100">
					<h2 class="p-3 mb-0">En efectivo</h2>
				</div>
			</mat-card-header>
			<mat-card-content class="card__content  p-2 text-center">
				<img src="./assets/efecty-baloto.png" alt="Efecty Baloto">
			</mat-card-content>
		</mat-card>
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<mat-card class="p-0  card">
			<mat-card-header  class="card__header  text-center">
				<div class="w-100">
					<h2 class="p-3 mb-0">Transferencia bancaria</h2>
				</div>
			</mat-card-header>
			<mat-card-content class="card__content  p-2 text-center">
				<img src="./assets/bancolombia.png" alt="Bancolombia">
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-lg-6  mb-3 mb-lg-0">
		<mat-card class="p-0  card">
			<mat-card-header  class="card__header  text-center">
				<div class="w-100">
					<h2 class="p-3 mb-0">Consignación bancaria</h2>
				</div>
			</mat-card-header>
			<mat-card-content class="card__content  p-2 text-center">
				<img src="./assets/bancolombia-itau.png" alt="Bancolombia Itau">
			</mat-card-content>
		</mat-card>
	</div>
</div>


<div class="row ">
	<div class="col-lg-6">
		<mat-card class="p-0  card">
			<mat-card-header  class="card__header  text-center">
				<div class="w-100">
					<h2 class="p-3 mb-0">Cajeros automáticos</h2>
				</div>
			</mat-card-header>
			<mat-card-content class="card__content  p-2 text-center">
				<img src="./assets/bancolombia.png" alt="Bancolombia">
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-lg-6  mb-3 mb-lg-0">
		<mat-card class="p-0  card">
			<mat-card-header  class="card__header  text-center">
				<div class="w-100">
					<h2 class="p-3 mb-0">Corresponsal bancario</h2>
				</div>
			</mat-card-header>
			<mat-card-content class="card__content  p-2 text-center">
				<img src="./assets/bancolombia-itau.png" alt="Bancolombia Itau">
			</mat-card-content>
		</mat-card>
	</div>
</div>
