<mat-card class="p-0  card">
	<div class="c-info-solicitud  text-center">
		<div class="p-3  c-info-solicitud__heading">
			VALOR PAGO MINIMO
			<div class="c-info-solicitud__heading-price  mb-2">$150.000</div>
			<button mat-stroked-button  class="c-info-solicitud__btn-edit">Ver detalle</button>
		</div>
		<div class="c-table-1  text-center">
			<div class="c-table-1__data  text-left">
				<div class="d-flex  justify-content-between  p-3">
					<div class="">Tipo de crédito</div>
					<div class="d-flex  align-items-center"><strong class="c-table-1__data-2  mr-2">RapiPlazo</strong></div>
				</div>
				<div class="d-flex  justify-content-between  p-3">
					<div class="">Referencia de pago</div>
					<div class="d-flex  align-items-center"><strong class="c-table-1__data-2  mr-2"># 341289</strong></div>
				</div>
				<div class="d-flex  justify-content-between  p-3">
					<div class="">Fecha límite de pago</div>
					<div class="d-flex"><strong class="c-table-1__data-2  mr-2">27 Dic. 2019</strong></div>
				</div>
			</div>
		</div>
	</div>
</mat-card>
