<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:650px">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-0">Cajeros automáticos</h3>
			</div>
			<div class="c-popup__content  p-3 p-lg-4 ">
				<p class="c-popup__p">Dirígete a un cajero y realiza una transferencia a nuestra cuenta de recuado:</p>

				<div class="c-table-2  p-lg-3 mb-3">
					<div class="row">
						<div class="col-lg-2  d-flex  d-lg-block">
							<div class="c-table-2__heading">
								<img src="./assets/bancolombia.png" alt="Bancolombia">
							</div>
							<div class="c-table-2__content  d-flex  align-items-center  d-lg-none">Bancolombia</div>
						</div>
						<div class="col-lg-3  d-none d-lg-flex   align-items-center">
							<div class="c-table-2__content  d-flex d-lg-block align-items-center">Bancolombia</div>
						</div>
						<div class="col-lg-4  d-flex  d-lg-block">
							<div class="c-table-2__heading  mb-lg-2">Cuenta de Ahorros</div>
							<div class="c-table-2__content">#0058974411</div>
						</div>
					</div>
				</div>


				<p class="c-popup__p mb-0">Para que tu pago se vea reflejado envíalo a ayuda@rapicredit.com</p>
			</div>
			<div class="c-popup__footer p-2  text-right">
				<button mat-stroked-button color="primary" class="pl-4 pr-4">OK</button>
			</div>
		</div>
	</div>
</div>
