<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:650px">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-0">En efectivo</h3>
			</div>
			<div class="c-popup__content  p-3 p-lg-4 ">
				<p class="c-popup__p">Dirigete a cualquier punto con esta información para realizar el pago.</p>
				<p class="c-popup__p">La referencia es el número de tu crédito.</p>

				<div class="c-table-2  p-lg-3 mb-3">
					<div class="row">
						<div class="col-lg-4  d-lg-flex  justify-content-center  align-items-center">
							<div class="c-table-2__heading  d-flex  justify-content-center  align-items-center mb-lg-2  w-100">
								<img src="./assets/efecty.png" alt="Efecty">
							</div>
						</div>
						<div class="col-lg-3  d-flex  d-lg-block">
							<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Referencia</div>
							<div class="c-table-2__content  d-flex d-lg-block align-items-center">345678</div>
						</div>
						<div class="col-lg-2  d-flex  d-lg-block">
							<div class="c-table-2__heading  mb-lg-2">Convenio</div>
							<div class="c-table-2__content">111456</div>
						</div>
						<div class="col d-lg-flex   align-items-center">
							<div class="c-table-2__content">RAPICREDIT PAGOS</div>
						</div>
					</div>
				</div>

				<div class="c-table-2  p-lg-3 mb-3">
					<div class="row">
						<div class="col-lg-4  d-lg-flex  justify-content-center  align-items-center">
							<div class="c-table-2__heading  d-flex  justify-content-center  align-items-center mb-lg-2  w-100">
								<img src="./assets/baloto.png" alt="Baloto">
							</div>
						</div>
						<div class="col-lg-3 d-flex  d-lg-block">
							<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Referencia</div>
							<div class="c-table-2__content  d-flex d-lg-block align-items-center">345678</div>
						</div>
						<div class="col-lg-2  d-flex  d-lg-block">
							<div class="c-table-2__heading  mb-lg-2">Convenio</div>
							<div class="c-table-2__content">111456</div>
						</div>
					</div>
				</div>

				<p class="c-popup__p mb-0">Si ya realizaste el pago y aún no se ve reflejado envíalo a ayuda@rapicredit.com</p>
			</div>
			<div class="c-popup__footer p-2  text-right">
				<button mat-stroked-button color="primary" class="pl-4 pr-4">OK</button>
			</div>
		</div>
	</div>
</div>
