<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:400px">
		<div class="c-popup">
			<div class="c-info-solicitud  text-center">
				<div class="p-3  c-info-solicitud__heading">
					Tu pago mínimo está compuesto de la siguiente forma:
				</div>
				<div class="c-table-1  text-center">
					<div class="c-table-1__data  text-left">
						<div class="d-flex  justify-content-between  pl-3 pr-3 pt-1 pb-1">
							<div class="">Tipo de crédito</div>
							<div class="d-flex  align-items-center"><span class="mr-1">$10.000</span> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pl-3 pr-3 pt-1 pb-1">
							<div class="">Aval (opcional):</div>
							<div class="d-flex  align-items-center"><span class="mr-1">$40.000</span> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pl-3 pr-3 pt-1 pb-1">
							<div class="">Plataforma (opcional):</div>
							<div class="d-flex  align-items-center"><span class="mr-1">$30.000</span> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pl-3 pr-3 pt-1 pb-1">
							<div class="">IVA:</div>
							<div class="d-flex  align-items-center"><span class="mr-1">$28.500</span> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pl-3 pr-3 pt-1 pb-1">
							<div class="">Capital:</div>
							<div class="d-flex  align-items-center"><span class="mr-1">$41.500</span> <i style="width:17px;" class="material-icons no-icon" mat-raised-button></i></div>
						</div>
						<div class="d-flex  justify-content-between  pl-3 pr-3 pt-1 pb-1">
							<div class="">Total a pagar:</div>
							<div class="d-flex  align-items-center"><span class="mr-1">$150.000</span> <i style="width:17px;" class="material-icons no-icon" mat-raised-button></i></div>
						</div>
						<div class="d-flex  justify-content-center  pl-3 pr-3 pt-3 pb-3">
							<button mat-flat-button color="primary" class="pl-5 pr-5">Aceptar</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
