<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:650px">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-0">Transferencia bancaria</h3>
			</div>
			<div class="c-popup__content  border-bottom p-3 p-lg-4 ">
				<div class="d-lg-flex mb-4  text-center  text-lg-left">
					<img class="mb-3 mb-lg-0 mr-lg-3 " src="./assets/bancolombia.png" alt="Bancolombia">
					<p class="c-popup__p">Si eres cliente de la sucursal virtual de Bancolombia puedes pagar a través de Pagos a Terceros / Entidades Financieras.</p>
				</div>

				<p><strong>Estos son los pasos a seguir:</strong></p>

				<ul class="c-list-1">
					<li class="d-flex  pl-3">
						<div>
							<span class="c-list-1__number  d-flex justify-content-center align-items-center mr-4">1</span>
						</div>
						<div class="pt-2">
							<p>Primero deberás inscribir nuestra cuenta en tu portal bancario para poder realizar la transferencia.</p>
							<p><strong>Código de convenio:</strong> 49225 COMPAÑIA DE CRÉDITOS RÁPIDOS S.A.S</p>
						</div>
					</li>
					<li class="d-flex  pl-3">
						<div>
							<span class="c-list-1__number  d-flex justify-content-center align-items-center mr-4">2</span>
						</div>
						<div class="pt-2">
							<p>Segundo digita la información solicitada por el banco que es la siguiente:</p>
							<p class="mb-0">
								<strong>BANCOLOMBIA</strong>
								<br>
								Cuenta de Ahorros #00589747411
								<br>
								NIT. 900.564.668-4
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="c-popup__content  p-3 p-lg-4 ">
				<p class="c-popup__p mb-0">Si ya realizaste el pago y aún no se ve reflejado envíalo a ayuda@rapicredit.com</p>
			</div>
			<div class="c-popup__footer p-2  text-right">
				<button mat-stroked-button color="primary" class="pl-4 pr-4">OK</button>
			</div>
		</div>
	</div>
</div>
