<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:600px">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-2">Elige el valor a pagar por PSE</h3>
				<p class="mb-0">Fecha límite de pago: <strong>Inmediato</strong></p>
			</div>
			<div class="c-popup__content  p-3 p-lg-4  border-bottom">
				<div class="row">
					<div class="col-6">
						<div class="d-flex  c-check  mb-2">
							<mat-radio-button value="1"></mat-radio-button>
							<span>Pago mínimo</span>
						</div>
					</div>
					<div class="col-6 text-right"><strong>$340.000</strong></div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="d-flex  c-check  mb-2">
							<mat-radio-button value="1"></mat-radio-button>
							<span>Pago total</span>
						</div>
					</div>
					<div class="col-6 text-right"><strong>$940.000</strong></div>
				</div>
				<div class="row">
					<div class="col-md-6  d-flex  align-items-center">
						<div class="d-flex  c-check  mb-2">
							<mat-radio-button value="1"></mat-radio-button>
							<span>Ingresar el monto a pagar</span>
						</div>
					</div>
					<div class="col-md-6 text-right">
						<mat-form-field appearance="outline" class="w-100  field-price">
							<mat-label>Monto a pagar</mat-label>
							<input matInput placeholder="$">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="c-popup__content  p-3 p-lg-4 ">
				<p class="c-popup__p mb-0">Los pagos adicionales al pago mínimo se considerarán abonos extraordinarios y se abonarán al capital de la deuda.</p>
			</div>
			<div class="c-popup__footer p-2  text-right">
				<button mat-stroked-button color="primary" class="pl-4 pr-4">CONTINUAR</button>
			</div>
		</div>
	</div>
</div>
