<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:600px">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-0">Cuenta de ahorros (PSE)</h3>
			</div>
			<div class="c-popup__content  p-3 p-lg-4">
				<p class="c-popup__p">Paga directamente de tu cuenta de ahorros o corriente con el botón de pagos PSE. Este pago quedará aplicado inmediatamente.</p>

				<div class="text-center">
					<button mat-stroked-button color="primary" class="pt-2 pb-2 pl-4 pr-4 mr-4">CANCELAR</button>
					<button mat-flat-button color="primary" class="p-0  o-btn-border-primary">
						<span class="pt-2 pb-2 pl-4 pr-4">PAGAR AHORA CON</span>
						<img style="height:50px;" src="./assets/pse2.png" alt="PSE">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
