<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup"  style="max-width:650px">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-0">Transferencia bancaria</h3>
			</div>
			<div class="c-popup__content  border-bottom p-3 p-lg-4 ">
				<div class="d-lg-flex  text-center  text-lg-left">
					<img class="mb-3 mb-lg-0 mr-lg-3 " src="./assets/bancolombia.png" alt="Bancolombia">
					<p class="c-popup__p">Dirígete a un corresponsal bancario Bancolombia con el número de convenio <strong>50407</strong>, la referencia es el número de tu crédito.</p>
				</div>
			</div>
			<div class="c-popup__content  p-3 p-lg-4 ">
				<p class="c-popup__p mb-0">Para que tu pago se vea reflejado envíalo a ayuda@rapicredit.com</p>
			</div>
			<div class="c-popup__footer p-2  text-right">
				<button mat-stroked-button color="primary" class="pl-4 pr-4">OK</button>
			</div>
		</div>
	</div>
</div>
