/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html {
  position: relative;
  min-height: 100%;
}

html, body { height: 100%; }
body {
	margin: 0;
	background-color: #F4F4F4;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: #667081;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container-wrap {
	padding-top: 60px;
}

/* ^.c-simulator
-----------------------------------------------------------------------------*/

.c-simulator .mat-slider-horizontal .mat-slider-wrapper {
	left: 0 !important;
	right: 0 !important;
}

.c-simulator .mat-accent .mat-slider-track-fill {
	background-color: #3f51b5;
}

.c-simulator .mat-accent .mat-slider-thumb {
	background-color: #3f51b5;
}

/* ^Fin - .c-simulator
-----------------------------------------------------------------------------*/





/* ^o-heading
	Estilos globales para encabezados
-----------------------------------------------------------------------------*/

.o-heading-section {
	position: relative;
	z-index: 10;
	font-size: 1.5625rem;
	font-weight: bold;
}

.o-heading-card {
	font-size: 1.1875rem;
	font-weight: bold;
}

.o-heading-card .material-icons {
	font-size: 1.1875rem;
}

@media screen and (max-width: 991px) {
	.o-heading-section  {
		font-size: 1.3125rem;
	}
}

/* ^Fin - o-heading
-----------------------------------------------------------------------------*/




/* ^Cards
-----------------------------------------------------------------------------*/

.card {
	padding: 0 !important;
	color: #667081;
}

.card .mat-card-header-text {
	display: none;
}

.card__title {
	padding: 10px 20px;
	margin-bottom: 0 !important;
	border-bottom: 1px solid rgba(102, 112, 129, .20);
	font-size: 1.1875rem;
}

.card__title span {
	font-weight: normal;
}

.card__content {
	padding: 20px;
	margin-bottom: 0 !important;
}

.card__content--form {
	padding: 8px 20px;
}

.card__content--form .card__field {
	margin-top: 5px;
	margin-bottom: 5px;
}

.card__field {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.card__field .mat-form-field {
	flex: 1;
}

.card__field .material-icons {
	margin-left: 5px;
}

.card__field .no-icon {
	width: 24px;
}

.card__footer {
	display: flex !important;
	margin: 0 !important;
	padding: 10px 20px;
	border-radius: 0 0 4px 4px;
	background: rgba(102, 112, 129, .05);
}

.card__footer > * {
	margin-left: 10px !important;
}

.card__subseccion {
	font-size: 16px;
}

/* ^Fin - Cards
-----------------------------------------------------------------------------*/





/* ^.c-table-1
-----------------------------------------------------------------------------*/

.data-odd {
	background-color: #F8F8F8;
}

.c-table-1 {

}

.c-table-1__data > *:nth-child(odd) {
	border-bottom: 1px solid rgba(102,112,129, .20);
	border-top: 1px solid rgba(102,112,129, .20);
	background-color: #F8F8F8;
}

.c-table-1 .material-icons {
	font-size: 17px;
}

.c-table-1__data-2 {
	font-weight: 500;
	font-size: 1rem;
}

.c-table-1__heading-title,
.c-table-1__heading-title--v2 {
	font-size: 1rem;
}

.c-table-1__heading-title--v2 {
	font-weight: 500;
}

.c-table-1__heading-title-2 {
	font-size: 1.1875rem;
}

.c-table-1__heading-title-3 {
	font-size: 2.375rem;
	font-weight: 500;
	line-height: 1.1;
}

/* ^Fin - .c-table-1
-----------------------------------------------------------------------------*/





/* ^.c-table-2
-----------------------------------------------------------------------------*/

.c-table-2 {
	border-radius: 5px;
	border: 1px solid rgba(102,112,129, .25);
}

.c-table-2__heading {
	color: #858B95;
	font-size: 0.875rem;
}

.c-table-2__content {
	font-weight: 500;
	font-size: 0.9375rem;
}

.c-table-2__link {
	font-size: 0.8125rem;
}

@media screen and (max-width: 991px) {
	.c-table-2  .c-table-2__heading,
	.c-table-2 .c-table-2__content {
		width: 50%;
		padding: 12px;
	}

	.c-table-2 [class*="col"]:first-child .c-table-2__heading,
	.c-table-2 [class*="col"]:first-child .c-table-2__content {
		border-radius: 5px 5px 0 0;
		background-color: #F8F8F8;
	}

	.c-table-2 .c-table-2__heading,
	.c-table-2 .c-table-2__content {
		border-bottom: 1px solid rgba(102,112,129, .20);
	}

	.c-table-2 [class*="col"]:last-child .c-table-2__heading,
	.c-table-2 [class*="col"]:last-child .c-table-2__content {
		border-bottom: none;
	}
}

@media screen and (max-width: 480px) {
	.c-table-2 .c-table-2__heading{
		width: 40%;
	}

	.c-table-2 .c-table-2__content {
		width: 60%;
	}
}

/* ^Fin - .c-table-2
-----------------------------------------------------------------------------*/





/* ^.c-table-3
-----------------------------------------------------------------------------*/

.g-row {
	display: flex;
}

.g-col-lg-10 {
	width: 100%;
}

.g-col-lg-2 {

}

.c-table-3__row {
	display: flex;
	flex-wrap: wrap;
}

.c-table-3__data {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 60px;
	padding: 10px 20px;
}

.c-table-3__data-movil {
	width: calc(100vw - 70px);
	margin-top: 7px;
	margin-left: 5px;
	padding-top: 10px;
	border-top: 1px solid #dfdfdf;
	/* background: #e0b034; */
}

.c-table-3__data-movil > * {
	margin-bottom: 6px;
}

.c-table-3__text-1 {
	line-height: 1.1;
}

@media screen and (min-width: 401px) and (max-width: 574px){
	.c-table-3__data-movil {
		width: calc(100vw - 70px - 27px - 20px);
		margin-left: 27px;
	}
}


@media screen and (min-width: 575px) {
	.c-table-3__data-movil {
		width: calc(540px - 70px - 27px - 12px);
		margin-left: 27px;
	}
}


@media screen and (min-width: 769px) {
	.g-col-lg-10 {
		width: calc(100% - 160px);
	}

	.g-col-lg-2 {
		width: 160px;
	}

	.c-table-3__data {
		height: auto !important;
	}

	.scroll-table {
		overflow-x: scroll;
	}
}

@media screen and (max-width: 768px) {
	.c-table-3__col-movil {
		width: 50%;
	}

	.c-table-3__row {
		width: 100% !important;
	}

	.c-table-3__data {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
}


.c-table-3__data:nth-child(odd) {
	background: #F8F8F8;
}

.c-table-3__data:not(:first-child) {
	font-size: 0.9375rem;
}




/* ^Fin - .c-table-3
-----------------------------------------------------------------------------*/





/* ^.o-heading
-----------------------------------------------------------------------------*/

.o-heading-1 {
	font-size: 1.375rem;
}

@media screen and (min-width: 769px) {
	.o-heading-1 {
		font-size: 1.625rem;
	}
}

/* ^Fin - .o-heading
-----------------------------------------------------------------------------*/





/* ^.c-tab
-----------------------------------------------------------------------------*/

.c-tab {
	border-radius: 5px;
	background: #fff;
}

/* ^Fin - .c-tab
-----------------------------------------------------------------------------*/





/* ^.c-popup
-----------------------------------------------------------------------------*/

.contenedor-popup {
	border: 1px solid #d4d4d4;
	border-radius: 5px;
}

.c-popup {
	overflow: hidden;
	border-radius: 6px;
	background: #fff;
}

.c-popup__header {
	border-bottom: 1px solid rgba(102,112,129, .20);
	text-align: center;
}

.c-popup__heading {
	font-size: 18px;
	font-weight: bold;
}

.c-popup__footer {
	background: #F3F3F3;
	text-align: center;
}


.c-popup__p {
	font-size: 0.9375rem;
}

/* ^Fin - .c-popup
-----------------------------------------------------------------------------*/





/* ^.o-btn
-----------------------------------------------------------------------------*/

.o-btn-border-primary {
	border: 1px solid #3f51b5 !important;
}

.o-btn-border-primary img {
	border-radius: 0 3px 3px 0;
}

/* ^Fin - .o-btn
-----------------------------------------------------------------------------*/





/* ^Forms
-----------------------------------------------------------------------------*/

.field-price .mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

/* ^Fin - Forms
-----------------------------------------------------------------------------*/





/* ^.c-list-1
-----------------------------------------------------------------------------*/

.c-list-1__number {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #667081;
	color: #fff;
	font-size: 1.0625rem;
	font-weight: bold;
}

/* ^Fin - .c-list-1
-----------------------------------------------------------------------------*/
