<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-3">
			<h2 class="w-100  o-heading-card  d-flex  mb-0">
				<i class="material-icons  mr-2">hourglass_full</i>
				Créditos en proceso
			</h2>
		</mat-card-header>

		<mat-card-content class="mb-0">
			<div class="c-table-2  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#123456</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Monto</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$750.000</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Plazo</div>
						<div class="c-table-2__content">4 meses</div>
					</div>
					<div class="col  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Estado</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">Estamos procesando y evaluando tu solicitud</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</mat-card-content>
	</div>
</mat-card>



<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-3">
			<h2 class="w-100  o-heading-card  d-flex  mb-0">
				<i class="material-icons  mr-2">edit</i>
				Créditos pendientes de firma
			</h2>
		</mat-card-header>

		<mat-card-content class="mb-0">
			<div class="c-table-2  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#123456</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Monto</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$750.000</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Plazo</div>
						<div class="c-table-2__content">4 meses</div>
					</div>
					<div class="col  d-flex">
						<div class="c-table-2__content w-100  d-flex justify-content-center justify-content-lg-end align-items-center">
							<button mat-flat-button color="primary" class="pl-4 pr-4">FIRMAR</button>
						</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</mat-card-content>
	</div>
</mat-card>



<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-3">
			<h2 class="w-100  o-heading-card  d-flex  mb-0">
				<i class="material-icons  mr-2">warning</i>
				Créditos en mora
			</h2>
		</mat-card-header>

		<mat-card-content  class="mb-0">
			<div class="c-table-2  mb-3  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#123456</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Saldo en mora</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$750.000</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Días de mora</div>
						<div class="c-table-2__content">10</div>
					</div>
					<div class="col  d-flex">
						<div class="c-table-2__content w-100  d-flex justify-content-center justify-content-lg-end align-items-center">
							<button mat-stroked-button color="primary" class="pl-4 pr-4  mr-2">PAGAR</button>
							<button mat-flat-button color="primary" class="pl-4 pr-4">FIRMAR</button>
						</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="c-table-2  mb-0  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#736292</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Saldo en mora</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$340.000</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Días de mora</div>
						<div class="c-table-2__content">17</div>
					</div>
					<div class="col  d-flex">
						<div class="c-table-2__content w-100  d-flex justify-content-center justify-content-lg-end  align-items-center">
							<button mat-stroked-button color="primary" class="pl-4 pr-4  mr-2">PAGAR</button>
							<button mat-flat-button color="primary" class="pl-4 pr-4">FIRMAR</button>
						</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</mat-card-content>
	</div>
</mat-card>




<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-3">
			<h2 class="w-100  o-heading-card  d-flex  mb-0">
				<i class="material-icons  mr-2">account_balance</i>
				Créditos pendientes de desembolso
			</h2>
		</mat-card-header>

		<mat-card-content class="mb-0">
			<div class="c-table-2  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#123456</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Monto</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$750.000</div>
					</div>
					<div class="col-lg-2  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Plazo</div>
						<div class="c-table-2__content">4 meses</div>
					</div>
					<div class="col  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Estado</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">Tu dinero estará en tu cuenta muy pronto</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</mat-card-content>
	</div>
</mat-card>



<mat-card class="card  mb-3">
	<div class="p-3">
		<mat-card-header  class="mb-3">
			<h2 class="w-100  o-heading-card  d-flex  mb-0">
				<i class="material-icons  mr-2">done</i>
				Créditos activos
			</h2>
		</mat-card-header>

		<mat-card-content  class="mb-0">
			<div class="c-table-2  mb-3  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#123456</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Valor próximo a pagar</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$750.000</div>
					</div>
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Fecha límite de pago</div>
						<div class="c-table-2__content">27 Dic. 2019</div>
					</div>
					<div class="col  d-flex">
						<div class="c-table-2__content w-100  d-flex justify-content-center justify-content-lg-end align-items-center">
							<button mat-stroked-button color="primary" class="pl-4 pr-4  mr-2">PAGAR</button>
						</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="c-table-2  mb-3  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#736292</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Valor próximo a pagar</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$340.000</div>
					</div>
					<div class="col-lg  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Fecha límite de pago</div>
						<div class="c-table-2__content">15 Ene. 2020</div>
					</div>
					<div class="col  d-flex">
						<div class="c-table-2__content w-100  d-flex justify-content-center justify-content-lg-end  align-items-center">
							<button mat-stroked-button color="primary" class="pl-4 pr-4  mr-2">PAGAR</button>
							<button mat-flat-button color="primary" class="pl-4 pr-4">FIRMAR</button>
						</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="c-table-2  mb-0  p-lg-3">
				<div class="row">
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center   mb-lg-2">ID RapiPlazo</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">
							<div>
								<strong class="d-block">#993822</strong>
								<a class="c-table-2__link" href="#">Ver detalle del crédito</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  d-flex d-lg-block align-items-center  mb-lg-2">Valor próximo a pagar</div>
						<div class="c-table-2__content  d-flex d-lg-block align-items-center">$1.200.000</div>
					</div>
					<div class="col-lg-3  d-flex  d-lg-block">
						<div class="c-table-2__heading  mb-lg-2">Fecha límite de pago</div>
						<div class="c-table-2__content">10 Feb. 2020</div>
					</div>
					<div class="col  d-flex">
						<div class="c-table-2__content w-100  d-flex justify-content-center justify-content-lg-end align-items-center">
							<button mat-stroked-button color="primary" class="pl-4 pr-4  mr-2">PAGAR</button>
						</div>
					</div>
					<div class="d-none d-lg-flex   align-items-center">
						<button mat-button [matMenuTriggerFor]="menu" class="pl-0 pr-2" style="min-width: auto;"><i class="material-icons">more_vert</i></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>Ver detalles del crédito</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</mat-card-content>
	</div>
</mat-card>
