<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center  mb-4  mb-l-5">
		<div class="col-xl-10  col-md-9  text-center">
			<h1 class="o-heading-section  mb-0">Estos son tus créditos</h1>
			<p class="mb-2">Recuerda que tienes 1 oferta aprobada</p>
			<button mat-stroked-button>Ver oferta</button>
		</div>
	</div>
	<div class="row  justify-content-center">
		<div class="col-xl-10  col-md-9">
			<app-creditos-en-proceso></app-creditos-en-proceso>
		</div>
	</div>
</div>
