<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center">
		<div class="col-xl-8  col-md-9">
			<app-progreso></app-progreso>
		</div>
	</div>
	<div class="row  justify-content-center">
		<div class="col-md-9  col-xl-8">
			<app-aceptar-oferta></app-aceptar-oferta>
		</div>
	</div>
</div>
