.card__header {
	border-bottom: 1px solid rgba(102,112,129, .20);
}

.card__header-img {
	max-width: 173px;
}

.card__header-p1 {
	max-width: 500px;
	font-size: 1.125rem;
	line-height: 1.3;
}

.card__header-p2 {
	font-size: 1.875rem;
}

.card__header-p3 {
	font-size: 0.9375rem;
}

.container-table {
	max-width: 365px;
}
