.card__header {
	border-bottom: 1px solid rgba(102,112,129, .20);
}

.card__header-img {
	max-width: 248px;
}

.card__header-p1 {
	font-size: 1.125rem;
	line-height: 1.2;
}

.card__header-p2 {
	font-size: 15px;
}

.container-table {
	max-width: 365px;
}

.c-table-1__data > *:first-child {
	border-top: 0;
}

.c-table-1__data > *:last-child {
	border-bottom: 0;
}


/* ^.c-confirm
-----------------------------------------------------------------------------*/

.c-confirm {

}

.c-confirm__number {
	font-size: 23px;
}

.c-confirm__number strong:before {
	position: absolute;
	top: -24px;
	left: -43px;
	content: '';
	width: 64px;
	height: 64px;
	background: url(/assets/flecha.png) no-repeat;

}

.c-confirm__box {
	max-width: 246px;
	padding: 6px;
	border-radius: 5px;
	border: 1px solid #667081
}

.c-confirm__input-text {
	width: calc(25% - 8px);
	height: 48px;
	margin-right: 8px;
	background-color: #667081;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 1.6rem;
}

.c-confirm__input-text:last-child {
	margin-right: 0;
}

/* ^Fin - .c-confirm
-----------------------------------------------------------------------------*/
