<mat-card class="card">
	<mat-card-header  class="card__header  text-center">
		<div class="w-100  p-3 p-lg-4">
			<img class="card__header-img mb-2" src="./assets/aceptacion-credito.png" alt="Aceptación de crédito">
			<p class="card__header-p1  mx-auto  mb-2">Dadas tus condiciones financieras, en este momento <strong>podemos prestarte</strong></p>
			<p class="card__header-p2  mb-0"><strong>$1'000.000</strong></p>
			<p class="card__header-p3  mb-0">A un plazo de <strong>4 meses</strong></p>
		</div>
	</mat-card-header>

	<mat-card-content class="card__content  pt-4 pb-4 pl-2 pr-2 text-center">
		<p><strong>Estos serán los costos asociados a tu cuota</strong></p>
		<div class="container-table  mx-auto">
			<mat-card class="p-0  card">
				<div class="c-table-1  text-center">
					<div class="p-3  c-table-1__heading">
						<div class="c-table-1__heading-title  d-flex  justify-content-center align-items-center">
							fecha de pago primera cuota <i class="material-icons  ml-2" mat-raised-button  matTooltip="Información del Tooltip">info</i>
						</div>
						<div class="c-table-1__heading-title-2"><strong>2 Nov. 2019</strong></div>
					</div>
					<div class="c-table-1__data  text-left">
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Abono a capital</div>
							<div class="d-flex  align-items-center"><strong class="c-table-1__data-2  mr-2">$243.059</strong> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Interes</div>
							<div class="d-flex"><strong class="c-table-1__data-2  mr-2">$18.800</strong> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Aval (opcional)</div>
							<div class=""><strong class="c-table-1__data-2  mr-2">$47.400</strong> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Plataforma (opcional)</div>
							<div class=""><strong class="c-table-1__data-2  mr-2">$25.500</strong> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">IVA</div>
							<div class=""><strong class="c-table-1__data-2  mr-2">$4.845</strong> <i class="material-icons" mat-raised-button  matTooltip="Información del Tooltip">info</i></div>
						</div>
					</div>
					<div class="pt-4 pb-4 pl-2 pr-2">
						<div class="text-center">
							<div class="c-table-1__heading-title--v2">CUOTA FIJA MENSUAL</div>
							<div class="c-table-1__heading-title-3">$339.604</div>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
	</mat-card-content>

	<mat-card-footer class="card__footer  justify-content-center">
		<button mat-button>Aceptar oferta</button>
		<button mat-flat-button color="primary" class="pl-4 pr-4">ACEPTAR OFERTA</button>
	</mat-card-footer>

</mat-card>
