<mat-card class="card">
	<mat-card-header  class="card__header  text-center">
		<div class="w-100  p-3 p-lg-4">
			<div class="row">
				<div class="col-lg-6">
					<p class="card__header-p1">Estás a un paso del desembolso <br><strong>sólo nos falta tu firma</strong></p>
					<img class="card__header-img" src="./assets/aceptacion-credito2.png" alt="Aceptación de crédito 2">
				</div>
				<div class="col-lg-6">
					<p class="card__header-p2  mb-4 mb-lg-5">Para firmar electrónicamente los documentos de tu crédito <strong>Escríbe este código ingresando en el recuadro inferior</strong></p>
					<div class="c-confirm">
						<div class="c-confirm__number  mb-2"><strong  class="position-relative">6235</strong></div>
						<div class="d-flex justify-content-center">
							<div class="c-confirm__box  d-inline-flex  justify-content-between  flex-wrap">
								<input class="c-confirm__input-text" type="text" value="6">
								<input class="c-confirm__input-text" type="text" value="2">
								<input class="c-confirm__input-text" type="text" value="-">
								<input class="c-confirm__input-text" type="text" value="-">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-card-header>

	<mat-card-content class="card__content  pt-4 pb-4 pl-2 pr-2">
		<p class="text-center"><strong>Detalle del crédito solicitado</strong></p>
		<div class="container-table  mx-auto  text-center">
			<mat-card class="p-0  mb-4  card">
				<div class="c-table-1  text-center">
					<div class="c-table-1__data  text-left">
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Monto solicitado</div>
							<div class="d-flex  align-items-center"><strong class="c-table-1__data-2  mr-2">$1'000.000</strong></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Número de cuotas</div>
							<div class="d-flex  align-items-center"><strong class="c-table-1__data-2  mr-2">4</strong></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Valor de la cuota mensual</div>
							<div class="d-flex"><strong class="c-table-1__data-2  mr-2">$339.604</strong></div>
						</div>
						<div class="d-flex  justify-content-between  pt-2 pr-3 pb-2 pl-3">
							<div class="">Fecha de pago 1 cuota</div>
							<div class=""><strong class="c-table-1__data-2  mr-2">2 Nov. 2019</strong></div>
						</div>
					</div>
				</div>
			</mat-card>
			<div class="text-center">
				<button mat-stroked-button color="primary" class="pl-5 pr-5">Ver costos totales</button>
			</div>
		</div>

		<div class="pl-2 pr-2 pt-4 pl-md-4 pr-md-4 pt-md-4">
			<div class="d-flex  c-check  mb-2">
				<mat-checkbox class="mr-2"></mat-checkbox>
				<span>Acepto todas las opciones.</span>
			</div>
			<div class="d-flex  c-check  mb-2">
				<mat-checkbox class="mr-2"></mat-checkbox>
				<span>He leído y aceptado el contrato de mutuo acuerdo. <a href="#">Leer contrato</a></span>
			</div>
			<div class="d-flex  c-check  mb-2">
				<mat-checkbox class="mr-2"></mat-checkbox>
				<span>He leído y aceptado otorgar poder irrevocable para suscribir pagaré. <a href="#">Leer contrato</a></span>
			</div>
			<div class="d-flex  c-check  mb-2">
				<mat-checkbox class="mr-2"></mat-checkbox>
				<span>Acepto usar la plataforma RapiCredit para realizar la firma electrónica (opcional). <a href="#">Leer contrato</a></span>
			</div>
			<div class="d-flex  c-check">
				<mat-checkbox class="mr-2"></mat-checkbox>
				<span>He leído y aceptado el contrato de Aval (opcional). <a href="#">Leer contrato</a></span>
			</div>
		</div>
	</mat-card-content>

	<mat-card-footer class="card__footer  justify-content-center">
		<button mat-flat-button color="primary" class="pl-5 pr-5">ACEPTAR</button>
	</mat-card-footer>

</mat-card>
