<mat-card class="card">
	<mat-card-content class="card__content  pt-4 pb-4 pl-2 pr-2  text-center">
		<img class="card__header-img  mb-4" src="./assets/felicitaciones.png" alt="felicitaciones">
		<h1 class="card__heading-1">¡FELICITACIONES!</h1>
		<h2 class="card__heading-2  mb-0">Tu crédito ha sido aprobado</h2>
		<h3 class="card__heading-3 mb-4 mb-lg-5">y está pendiente de desembolso</h3>
		<p class="card__p-1  mx-auto">Tu crédito será desembolsado en máximo 1 día hábil, siempre y cuando podamos verificar tus datos.</p>
		<p class="card__p-1  mx-auto  mb-5">El desembolso está sujeto a la restricción en tiempo de inscripción de tu cuenta y transferencias ACH ajenos a RapiCredit.</p>
		<button mat-flat-button color="primary" class="pl-5 pr-5  mb-3">ACEPTAR</button>
	</mat-card-content>
</mat-card>
