<mat-card class="p-0  card">
	<div class="c-info-solicitud  text-center">
		<div class="d-flex  d-xl-block  justify-content-center align-items-center  p-3  c-info-solicitud__heading">
			Monto a Solicitar
			<div class="c-info-solicitud__heading-price">$1'000.000</div>
		</div>
		<div  class="c-info-solicitud__data-group  d-flex d-xl-block  justify-content-center">
			<div class="pt-2 pr-3 pb-2 pl-3  data-odd">
				<div class="c-info-solicitud__data-1">Fecha de pago</div>
				<div class="c-info-solicitud__data-2">09 Feb 2020</div>
			</div>
			<div class="pt-2 pr-3 pb-2 pl-3">
				<div class="c-info-solicitud__data-1">Total cuota</div>
				<div class="c-info-solicitud__data-2">$339.604</div>
			</div>
		</div>
		<div class="p-3">
			<div class="d-flex  justify-content-center  align-items-center">
				<a class="text-left mr-2  c-info-solicitud__link-1" href="#">Descripción de la cuota</a>
				<button mat-stroked-button  class="c-info-solicitud__btn-edit"><i class="material-icons">edit</i> Editar</button>
			</div>
		</div>
	</div>
</mat-card>
