/* ^.c-info-solicitud__heading
-----------------------------------------------------------------------------*/

.c-info-solicitud > * {
	border-bottom: 1px solid rgba(102,112,129, .2);
}


.c-info-solicitud > *:last-child {
	border-bottom: none;
}

.c-info-solicitud__heading {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.2;
}

.c-info-solicitud__heading-price {
	margin-left: 10px;
}

.c-info-solicitud__data-group {
	background-color: #F8F8F8;
}

.c-info-solicitud__data-1 {
	font-size: 0.875rem;
	color: #858B95;
}

.c-info-solicitud__data-2 {
	font-size: 1.0625rem;
	font-weight: 500;
}

.c-info-solicitud__link-1 {
	width: 90px;
	line-height: 1.2;
	font-size: 0.875rem;
}

.c-info-solicitud__btn-edit i {
	font-size: 1.25rem;
}

@media screen and (min-width: 1200px) {
	.c-info-solicitud__heading {
		font-size: 1.25rem;
	}

	.c-info-solicitud__heading-price {
		font-size: 1.875rem;
		margin-left: 0;
	}

	.c-info-solicitud__data-group {
		background-color: #fff;
	}

	.c-info-solicitud__data-group > * {
		border-bottom: 1px solid rgba(102,112,129, .2);
	}

	.c-info-solicitud__data-group > *:last-child {
		border-bottom: none;
	}
}

/* ^Fin - .c-info-solicitud__heading
-----------------------------------------------------------------------------*/
