<div class="row  justify-content-center">
	<div class="col-md-6  col-xl-5 mb-4 mb-lg-4">
		<mat-card class="card">
			<mat-card-content class="card__content  pt-5 pb-4 pl-3 pr-3  pb-md-5 text-center">
				<h2 class="card__heading  mb-3">RapiCrédito</h2>
				<img class="mb-4" src="./assets/sin-restriccion-rapicredit.png" alt="Sin restricción RapiCrédito">
				<p class="card__p-1  mx-auto  mb-4  mb-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo a arcu eu tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
				<button mat-flat-button color="primary" class="pl-5 pr-5  mb-3">ACEPTAR</button>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-md-6  col-xl-5  mb-4 mb-lg-0">
		<mat-card class="card">
			<mat-card-content class="card__content  pt-5 pb-4 pl-3 pr-3  pb-md-5  text-center">
				<h2 class="card__heading  mb-3">RapiCrédito</h2>
				<img class="mb-4" src="./assets/sin-restriccion-rapiplazo.png" alt="Sin restricción RapiPlazo">
				<p class="card__p-1  mx-auto  mb-4  mb-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo a arcu eu tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
				<button mat-flat-button color="primary" class="pl-5 pr-5  mb-3">ACEPTAR</button>
			</mat-card-content>
		</mat-card>
	</div>

	<div class="col-md-6  col-xl-5">
		<mat-card class="card">
			<mat-card-content class="card__content  pt-5 pb-4 pl-3 pr-3  pb-md-5 text-center">
				<img class="card__header-img  mb-4" src="./assets/solicitud-rechazada.png" alt="Bienvenida de vuelta">
				<p class="card__p-1  mx-auto  mb-4  mb-md-5">En este momento, dadas tus condiciones financieras no es posible realizar nuevas solicitudes de créditos. Intenta dentro de X días.</p>
				<button mat-flat-button color="primary" class="pl-5 pr-5  mb-3">ACEPTAR</button>
			</mat-card-content>
		</mat-card>
	</div>
<div>
