<mat-card class="card">
	<mat-card-content class="card__content  pt-4 pb-4 pl-2 pr-2  text-center">
		<img class="card__header-img  mb-4" src="./assets/solicitud-rechazada.png" alt="Solicitud rechazada">
		<p class="card__p-1  mx-auto">Dadas tus condiciones financieras actuales no es posible aprobar tu crédito.</p>
		<p class="card__p-1  mx-auto  mb-5">Puedes intentar en X días, si tus circunstancias financieras y laborales han cambiado.</p>
		<button mat-flat-button color="primary" class="pl-5 pr-5  mb-3">ACEPTAR</button>
	</mat-card-content>
</mat-card>
