<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center  mb-4">
		<div class="col-lg-12">
			<h1 class="o-heading-1  text-center">Elige el crédito que más se ajusta a tus <span class="d-sm-block">necesidades y realiza una nueva solicitud</span></h1>
		</div>
	</div>
	<app-sin-restriccion></app-sin-restriccion>
</div>
