<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center  mb-4">
		<div class="col-lg-12">
			<h1 class="o-heading-1  text-center">¡Tu solicitud se encuentra en estudio!</h1>
		</div>
	</div>
	<div class="row  justify-content-center">
		<div class="col-md-9  col-xl-8">
			<app-zona-gris></app-zona-gris>
		</div>
	</div>
</div>
