<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center">
		<div class="col-xl-3"></div>
		<div class="col-xl-8  col-md-9">
			<app-progreso></app-progreso>
		</div>
	</div>
	<div class="row  justify-content-center">
		<div class="col-md-9 col-xl-3  mb-4  mb-xl-0">
			<app-info-solicitud></app-info-solicitud>
		</div>
		<div class="col-md-9  col-xl-8">
			<app-formulario></app-formulario>
		</div>
	</div>
</div>
