.card__header {
	border-bottom: 1px solid rgba(102,112,129, .20);
}

.card__header-p1 {
	max-width: 500px;
	font-size: 1.125rem;
	line-height: 1.3;
}

.card__header-p2 {
	font-size: 1.875rem;
}

.card__header-p3 {
	font-size: .95rem;
}



/* ^.c-popup
-----------------------------------------------------------------------------*/

.contenedor-popup {
	max-width: 650px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
}

.c-popup {
	overflow: hidden;
	border-radius: 6px;
	background: #fff;
}

.c-popup__header {
	border-bottom: 1px solid rgba(102,112,129, .20);
	text-align: center;
}

.c-popup__heading {
	font-size: 18px;
	font-weight: bold;
}

.c-popup__footer {
	background: #F3F3F3;
	text-align: center;
}


.c-popup__p {
	font-size: 0.9375rem;
}

/* ^Fin - .c-popup
-----------------------------------------------------------------------------*/
