<mat-card class="card">
	<mat-card-header  class="card__header  text-center">
		<div class="w-100  p-3 p-lg-4">
			<img class="card__header-img mb-2" src="./assets/tu-aceptacion.png" alt="Aceptación de crédito">
			<p class="card__header-p1  mx-auto  mb-0"><strong>Necesitamos</strong> de tu aceptación</p>
		</div>
	</mat-card-header>

	<mat-card-content class="card__content  pt-4 pb-4 pl-2 pr-2 text-center">
		<p class="card__header-p3">Has iniciado una solicitud de crédito, para continuar acepta los siguientes términos y condiciones.</p>
		<div class="pl-2 pr-2 pl-md-4 pr-md-4 text-center">
			<div class="d-flex justify-content-center  c-check  mb-2">
				<mat-checkbox class="mr-2"></mat-checkbox>
				<span>Acepto el uso de mis datos personales y ser consultado en Centrales de Riegos.</span>
			</div>
			<a href="#">Leer términos y condiciones</a>
		</div>
	</mat-card-content>

	<mat-card-footer class="card__footer  justify-content-center">
		<button mat-flat-button color="primary" class="pl-4 pr-4">ENVIAR SOLICITUD</button>
	</mat-card-footer>

</mat-card>



<div class="container  mt-5">
	<!--
		.contenedor-popup:  no es requerido para el popup, ya que es solo un contenedor para simular el ancho del popup.
	-->
	<div class="contenedor-popup">
		<div class="c-popup">
			<div class="c-popup__header  p-3">
				<h3 class="c-popup__heading  mb-0">Términos y condiciones</h3>
			</div>
			<div class="c-popup__content  p-3 p-lg-4 ">
				<h5>Autorizaciones y Declaraciones</h5>
				<p class="c-popup__p">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
			</div>
			<div class="c-popup__footer p-2  text-right">
				<button mat-stroked-button color="primary" class="pl-5 pr-5">OK</button>
			</div>
		</div>
	</div>
</div>
