<mat-card class="card">
	<mat-card-content class="card__content  pt-4 pb-4 pl-2 pr-2  text-center">
		<img class="mb-4" src="./assets/clock.png" alt="Zona gris">
		<p class="card__p-1  mx-auto">Estamos verificando tu información.</p>
		<p class="card__p-1  mx-auto">En un máximo de X horas te informaremos si tu solicitud fue aprobada o rechazada.</p>
		<p class="card__p-1  mx-auto  mb-5">Si está tardando más de lo normal comunícate con soporte al (031) xxxxxxxx</p>
		<button mat-flat-button color="primary" class="pl-5 pr-5  mb-3">ACEPTAR</button>
	</mat-card-content>
</mat-card>
