<div style="height:70px;">
	<!-- Div temporal -->
</div>


<div class="container  mb-4">
	<div class="row  justify-content-center">
		<div class="col-md-8  col-xl-7">
			<app-confirmar-cuenta-bancaria></app-confirmar-cuenta-bancaria>
		</div>
	</div>
</div>
