.card__header-img {
	width: 199px;
}

.card__p-1 {
	max-width: 450px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;
}

.card__p-2 {
	max-width: 450px;
	font-size: 17px;
}

.card__field {
	max-width: 350px;
	margin: 0 auto;
}
