<mat-card class="card">
	<mat-card-content class="card__content  pt-4 pb-4 pl-3 pr-3  text-center">
		<img class="card__header-img  mb-4" src="./assets/solicitud-rechazada.png" alt="Solicitud rechazada">
		<p class="card__p-1  mx-auto  mb-4">No hemos podido validar la cuenta a la cual desembolsaremos el dinero de tu crédito</p>
		<p class="card__p-2  mx-auto  mb-2">Selecciona de la siguiente lista tu cuenta bancaria</p>
		<div class="card__field  mb-4">
			<mat-form-field appearance="outline">
				<mat-label>Nombre del banco</mat-label>
				<mat-select [(value)]="selected">
					<mat-option>Ninguna</mat-option>
					<mat-option value="option1">Nombre del banco - xxxxxxxxx33</mat-option>
					<mat-option value="option2">Nombre del banco - xxxxxxxxx67</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<p class="card__p-2  mx-auto  mb-2">Ingresa el número completo de la cuenta terminada en *333 del banco (Nombre del banco seleccionado)</p>
		<div class="card__field  mb-4">
			<mat-form-field appearance="outline">
				<mat-label>Ingresa número de cuenta</mat-label>
				<input matInput>
			</mat-form-field>
		</div>
		<p class="card__p-2  mx-auto  mb-2">Por favor confirmar de nuevo el número de cuenta ingresado en el campo anterior</p>
		<div class="card__field">
			<mat-form-field appearance="outline">
				<mat-label>Confirmar número de cuenta</mat-label>
				<input matInput>
			</mat-form-field>
		</div>
	</mat-card-content>

	<mat-card-footer class="card__footer  justify-content-center">
		<button mat-flat-button color="primary" class="pl-5 pr-5">ENVIAR</button>
	</mat-card-footer>
</mat-card>
